*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.website-container{
    background-color: #fafbfc;
}
.container-split{
    display: grid;
    grid-template-columns:16% 84%;
    /* background-image: url(bg-lap-workone.png); */
    background-size: cover;
    max-width: 100%;
}
.split-section-two{
    background: linear-gradient(135deg, rgb(240, 229, 240), rgb(226, 242, 247));
    /* background-image: url(bg-lap-workone.png) */
}
.split-section-one{
    background-color: #ffff;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    position: sticky;
    top: 0;
    height: fit-content;
}
.logo-image{
    display: flex;
}
.nav-split-two{
    background-color: #fafbfc;
    height: 60px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-container a {
    text-decoration: none;
    color: #19233c;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin-top: 25px;
    font-weight: 500;
    margin-left: 100px;
    line-height: 10px;
}
.home-search-login{
    display: flex;
}
.search {
    display: flex;
    border: 1px solid #e2eaf1;
    border-radius: 20px;
    width: 350px;
    margin-right: 30px;
    margin-top: 14px;
    height: 35px;
    background-color: #fff;
}
.search svg {
    width: 30px;
    height: 20px;
}
.search input{
    border: none;
    width: 290px;
    outline: none;
    color: #fff3;
    font-weight: 500;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-size: 13px;
    margin-left: 10px;
}
.search svg{
    margin-top: 6.5px;
    /* width: 15px; */
}
.logo{
    color: #19233c;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 10px;
}
.logo-image{
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.home-search-login .btn-primary {
    margin-right: 200px;
    width: 200px;
    height: 35px;
    margin-top: 14px;
    border-radius: 20px;
    border: none;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: #fe815f;
    color: #fff;
    /* z-index: 100; */
}
.second {
    display: none;
}
.split-section-two img {
    padding-left: 150px;
    padding-top: 50px;
    /* z-index: -1; */
    position: relative;
}
.split-section-two h1{
    position: absolute;
    margin-top: -1105px;
    max-width: 40%;
    text-align: center;
    margin-left: 340px;
    font-size: 36px;
    color:#19233c;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
.split-section-two h1 span{
    color: #fe815f;
}
.split-section-two .btn-secondary{
    position: absolute;
    left: 620px;
    top: 376px;
    min-width: 398px;
    background-color: #fe815f;
    display: flex;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 56px;
    font-weight: 900;
    font-size: 18px;
    /* line-height: 22px; */
    box-shadow: rgba(255, 96, 53, 0.4) 0px 16px 40px;
    padding: 0px 12px;
    border-radius: 90px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.split-section-two .btn-secondary img {
    margin-top: -50px;
    left: -130px;
}
.split-section-two .btn-secondary p{
    margin-left: -90px;
}
.split-section-two .img-collection{
    height: 20vh;
    position: absolute;
    margin-top: -540px;
    left: 500px;
    /* border: 3px solid black; */
  
}
.split-section-two .img-collection .img{
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: -50px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.content img {
    bottom: 20px;
}
.collections {
    display: flex;
    margin-top: 35px;
    margin-right: 40px;
    padding-right: 60px;
}
.profiles{
    margin-top: 50px;
    margin-left: 10px;
    font-weight: 300;
}
.profile1 a {
    text-decoration: none;
}
.profile1 {
    display: flex;
}
.profile1 a h2 {
    color:#babec9;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;

}
.profile1 svg {
    color: #babec9;
}
.profile2{
    display: flex;
    margin-top: 20px;
}
.profile2  a h2 {
    color: #babec9;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;

}
.profile2 svg {
    color: #babec9;
}
.profile3{
    display: flex;
    margin-top: 20px;
}
.profile3 a h2 {
    color: #babec9;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;
}
.profile1:hover h2,.profile1:hover svg{
   color: rgba(0, 0, 0, 0.74);
}
.profile2:hover h2,.profile2:hover svg{
    color: rgba(0, 0, 0, 0.74);
 }
 .profile3:hover h2,.profile3:hover svg{
    color:rgba(0, 0, 0, 0.74);
 }
.beta{
    background-color: #f0b3a2b7;
    color: #fe815fb4;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    padding-left: 10px;
    opacity: 0.8;
}
.btn-gradient {
    background-image: linear-gradient(#ef815f ,rgb(238, 26, 11));
    border: 3px  rgba(254,129,95,0.2);
    box-shadow: 12 10 15 rgba(254,129,95);
    color: #e2eaf1;
    width: 160px;
    height: 40px;
    margin-left: 10px;
    margin-top: 120px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-gradient h2 {
    margin-left: 20px;
}
.vote {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    color: #babec9;
    cursor: pointer;
}
.line {
    background-color: #babec9;
    height: 1px;
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}
.dark-mode{
    color: #babec9;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.dark-mode h2 {
    color: #babec9;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 400;
}
.dark-mode:hover h2 ,.dark-mode:hover svg {
    color: rgba(0, 0, 0, 0.74);
}
body.active {
    /* position: relative; */
    /* top:0; */
    background-color: #252a37;
    width: 100%;
    height: 100vh;
    /* z-index: 100; */
}
body.active .split-section-one {
    background-color: #565c68ec;
    border: 3px solid rgba(0, 0, 0, 0.479);
    height: 100vh;
    border-top: none;
    border-bottom: none;

}
body.active .split-section-one .logo h1{
    color: #e2eaf1;
}
body.active .split-section-two .nav-split-two {
    background-color: #252a37;
    color: #e2eaf1;
}
body.active .split-section-two .nav-split-two .nav-container{
    background-color: #565c68ec;
    height: 90px;
}
body.active .last-content{
    background-color: #565c68ec;
    z-index: 120;
    height: 100px;
    margin-top: -30px;
}
body.active .split-section-two .nav-split-two {
    border: 2px solid rgba(0, 0, 0, 0.37);
    /* height: 100px; */
    border-left: none;
    border-right: none;
    border-top: none;
}
body.active .split-section-two .nav-split-two a{
    color: #e2eaf1;
}
body.active .split-section-two  h1{
    margin-top: -1273px;
    position: absolute;
    z-index: 100px;
    background-color: transparent;
}
body.active .img-collection {
    margin-top: -610px;
    margin-left: 100px;
    /* width: 700px; */
}
body.active .first{
    display: none;
    background-color: #252a37;
    width: 100%;
} 
.k{
    display: none;
}
body.active .k {
    display: block;
}
body.active .jojo{
    display: none;
}
body.active .second {
       display: block;
       background-color: #252a37;
       width: 100%;
}
.last-face {
    border: 1.4px solid #babec9;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.last-face p {
    margin-left: 10px;
    font-size: 13px;
    color: #babec9;
}
.first-man {
    display: none;
}
.second-man.active {
    display: none;
}
.second.active .first-man{
    display: block;
}
.second{
    display: none;
}

.vote h2 {
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.vote:hover h2 ,.vote:hover svg {
    color: rgba(0, 0, 0, 0.644);

}
.beta:hover {
    opacity: 1;
}
.profile2 a {
    text-decoration: none;
}
.profile3 a {
    text-decoration: none;
}
.profile3 svg {
    color: #babec9;
}
.collections h2 {
    color:#19233c;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
}
.collections svg{
    color: #babec9;
    padding-right: px;
}
.last-content {
    background-color: #fafbfc;
}


