*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #45c14e;
    --color2: #dff8eb;
    --color3: #4ee8e2;
    --color4: #00324b;
    --color5: #002c43;
    --color6: #fcfcfc;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
}
.fund, .toggle{
    display: none;
}
.container{
    max-width: 90%;
    margin: 0 auto
}
.nav{
    position: fixed;
    background: var(--color5);
    top: -150px;
    right: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
}
.nav-brand, .nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
    color:  #a0a5a7;
    font-size: 100%;
    font-weight: bolder;
    padding: 7px 15px;
    transition: all 0.5s ease-in-out;
}
.nav.active a:hover{
    color: var(--color6);
    transition: 0.5s;
}
.nav a.datag1{
    color: #fff;
}
.nav.active{
    background: var(--color5);
    top: 0;
    transition: all 0.3s ease-in-out;
}
.nav.active .container{
    padding: 10px 0;
}
.brand{
    padding: 25px;
    justify-content: space-between;
}
.sign{
    margin-right: 50px;
}
.brand nav, .brand ul, .brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand img{
    padding: 2px;
}
 .brand nav ul, .brand nav ul li{
    padding: 0 20px;
}
.brand ul li, .nav li{
    list-style: none;
}
.brand a{
    text-decoration: none;
}
.brand nav ul li a, .sign a{
    font-size: 15px;
    color: #727171;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
.brand nav ul li a:hover, .sign a:hover{
    color: var(--color5);
}
.logo-link-1, .bbtn-1{
    display: none;
}

/* We can't wait to meet you. */
.meet{
    margin: 20px auto;
}
.about{
    width: 90%;
    margin: auto;
    color: var(--color4);
}
.about h1{
    margin-bottom: 30px;
    font-size: 40px;
}
.about p{
    line-height: 25px;
    font-size: 22px;
}

/* Get start */
.playstore{
    background: var(--color3);
    height: 50vh;
    color: var(--color4);
}
.playstore .get-1{
    padding: 80px 0 0 50px;
    position: relative;
    height: 50vh;
}
.playstore .get-1::before{
    content: '';
    background: url(imag/section--get-started__grasshopper-mama.svg) no-repeat;
    position: absolute;
    background-position: cover;
    background-size: 150px;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 35vh;
    z-index: 1;
}
.playstore .get-2{
    width: 40%;
}
.playstore p{
    font-size: 25px;
    font-weight: 600;
}
.playstore button{
    color: var(--color2);
    font-weight: 600;
    height: 40px;
    width: 120px;
    background: var(--color1);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.playstore button:hover{
    background: var(--color1);
    opacity: 0.7;
}
.playstore img{
    width: 120px;
}
.playstore .get-3{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.animat{
    position: relative;
    background: url(imag/section--get-started__cloud.svg);
    height: 50px;
    top: -5px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    animation: animate 90s linear infinite;
    z-index: 0;
}
.animat-1{
    position: relative;
    background: url(imag/section--get-started__cloud.svg);
    height: 50px;
    bottom: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    animation: animate1 90s linear infinite;
}
@keyframes animate{
    from{
        background-position: 100% 0;
    }
    to{
        background-position: 0 100%;
    }
}
@keyframes animate1{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
/* bottom */
.pro-1{
    display: none;
}
.program{
    background: var(--color4);
    padding: 20px;
}
.program .program-1{
    padding: 30px 100px;
}
.program .program-1 .program-2 .pro{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.program ul li{
    list-style: none;
    margin: 10px 0;
}
.program ul li a{
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
}
.program p{
    color: var(--color2);
    text-align: center;
    font-weight: 600;
}
.program p span{
    font-size: 10px;
}


.brand nav ul li a.datag2{
    color: #000;
}
@media(max-width: 960px){
    .nav, .brand ul, .sign{
        display: none;
    }
    .brand nav ul li a.datag2{
        color: var(--color2);
    }
/* hamborga */
.toggle002{
    display: block;
    background: url(imag/close-icon.svg) no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.toggle002.active{
    background: url(imag/menu-icon.svg) no-repeat;
}
.brand ul, .sign{
    display: block;
    padding: 0;   
}
.brand .toggle001, .signin{
    background: var(--color5);
    position: absolute;
    width: 95%;
    padding: 50px 0 0 0;
    transition: 0.5s;
    right: 15px;
    z-index: 10;
}
.brand .toggle001{
    height: 70vh;
    top: 80px;
}
.signin{
    top: 430px;
    padding: 0 0 0 35px;
}
.brand .toggle001.active, .signin.active{
    right: 100%;
    transition: 0.5s;
}
.brand .toggle001 ul li{
    display: block;
    margin: 30px 0;
}
.brand nav .toggle001 ul li a{
    display: block;
    font-size: 15px;
    position: relative;
}
.brand ul li a{
    color:  #a0a5a7;
}
.brand nav ul li a, .sign a{
    color:  #a0a5a7;
    transition: 0.5s;
}
.brand nav ul li a:hover, .sign a:hover{
    color: var(--color6);
}
.program .program-1{
    padding: 30px 70px;
}
}
@media(max-width: 720px){
    .fund, .logo-link-1{
        display: block;
    }
    .logo-link{
        display: none;
    }
/* Get start */
.playstore{
    height: 80vh;
}
.animat-1{
    bottom: -150px;
}
.playstore .get-1{
    padding: 80px 0 0 50px;
    position: relative;
    height: 80vh;
}
.playstore .get-1::before{
    background-size: 180px;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 40vh;
    z-index: 1;
}
.playstore .get-2{
    text-align: center;
    width: 80%;
    margin: auto;
}
.playstore .bbtn, .playstore .get-3 a{
    display: none;
}
.playstore .bbtn-1{
    margin: auto;
    display: block;
    width: 50%;
}


    /* bottom */
    .pro-1{
        display: block;
    }
    .program{
        height: 55vh;
    }
    .program .program-1 .program-2 .pro{
        display: block;
    }
    .program-2 .pro >div:nth-child(3){
        display: none;
    }
    .program-2{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}
