*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #45c14e;
    --color2: #dff8eb;
    --color3: #4ee8e2;
    --color4: #00324b;
    --color5: #002c43;
    --color6: #fcfcfc;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
}
small.toobad i{
    position: relative;
    color: lightseagreen;
    animation: smallee 1s;
}
@keyframes smallee{
    15%{
       top: 0px;
    }

    50%{
        top: -10px;
    }
    

    
    100%{
        top:-20px
    }
    from {opacity: 1}
    to{opacity: 0.9;}
    to{opacity: 0.8;}
    to{opacity: 0.7;}
    to {opacity: 0.4}
    to{opacity: 0.2;}
}
.toggle{
    display: none;
}
.container{
    max-width: 90%;
    margin: 0 auto
}
.nav{
    position: fixed;
    background: var(--color5);
    top: -150px;
    right: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
}
.nav-brand, .nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
    color:  #a0a5a7;
    font-size: 100%;
    font-weight: bolder;
    padding: 7px 15px;
    transition: all 0.5s ease-in-out;
}
.nav.active a:hover{
    color: var(--color6);
    transition: 0.5s;
}
.nav.active{
    background: var(--color5);
    top: 0;
    transition: all 0.3s ease-in-out;
}
.nav.active .container{
    padding: 10px 0;
}
.null{
    width: 100%;
    height: 40px;
    background: var(--color1);
}
.brand{
    padding: 25px;
    justify-content: space-between;
}
.sign{
    margin-right: 50px;
}
.brand nav, .brand ul, .brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand img{
    padding: 2px;
}
 .brand nav ul, .brand nav ul li{
    padding: 0 20px;
}
.brand ul li, .nav li{
    list-style: none;
}
.brand a{
    text-decoration: none;
}
.brand nav ul li a, .sign a{
    font-size: 15px;
    color: #727171;
    font-weight: bold;
}
.brand nav ul li a, .sign a{
    transition: all 0.4s ease-in-out;
}
.brand nav ul li a:hover, .sign a:hover{
    color: var(--color5);
}
.logo-link-1{
    display: none;
}
.row{
    margin: 60px 0 0 0;
    color: var(--color4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.row .col{
    padding-left: 120px;
    width: 650px;
}
.row .col h2{
    font-size: 38px;
    margin-bottom: 20px;
}
.row .col p{
    font-size: 30px;
    margin-bottom: 17px;
}
.row .col .btn{
    background: var(--color1);
    color: var(--color2);
    font-size: 20px;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    text-align: center;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
.col-1 img{
    width: 70%;
}

/* The best way to start your coding adventure. */
.adventure, .study{
    background: var(--color2);
    padding: 50px 100px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.adventure h1{
    margin-bottom: 70px;
    color: var(--color5);
}
.venture-1{
    display: flex;
}
.venture-2{
    padding: 20px;
}
.venture-2 p, .study-2 p{
    font-size: 25px;
    color: var(--color4);
}
.venture-3{
    margin: 0 0 50px 0;
}

/* Learn to code anywhere */
.study{
    position: relative;
    background: var(--color3);
    padding: 100px 100px 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    height: 50vh;
    z-index: -2;
}
.study::before{
    content: '';
    position: absolute;
    background: url(imag/learn-code/grasshopper__practice__meditate.svg) no-repeat;
    background-size: 150px;
    top: 50px;
    left: 100px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.study::after{
    content: '';
    position: absolute;
    background: url(imag/learn-code/devices.svg) no-repeat;
    background-size: 200px;
    top: 100px;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: -1;
}
.study-1 h1{
    width: 50%;
    margin:0 auto 20px;
    color: var(--color5);
}
.study-2{
    width: 70%;
    margin: 0 auto;
}
.visual{
    display: none;
}



.concept{
    margin: 30px 60px;
}
.concept h3{
    color: #00324b;
    font-weight: 900;
    font-size: 2rem;
margin-bottom: 20px;
text-align: center;
}
.concept p{
    color: #00324b;
    background-color: #dff8eb;
    padding: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 80px;
    width: 30%;
    text-align: center;
    font-size: 800;
    font-weight: 800;
    display: inline-block;
}
.concept .concept1{
    display: none;
}

/* TOOBAD */
div.toobad{
    padding: 150px 50px;
    text-align: center
    ;
}
.container01{
    position: relative;
    padding: 35px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
}

section.toobad{
    display: flex;
    
}
.toobad img{
    border-radius: 50%;
    width: 100px;
}
.toobad p{
    margin: 2em 0 0 1rem;
    text-align: left;
}
.toobaddd span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: gray;
    margin: 10px;
    cursor: pointer;
}
.mySlides{
    display: none;

}
h3.toobad{
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* TOOBAD STYLING STOPS HERE */

.slide img{
    width: 30%;
}

.usual-2{
    display: none;
}
.usual-img{
    width: 50px;
}
.promax{
    width: 100%;
}
.usual-2.samuel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usual-2 p{
    padding: 50px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
}

p.too{
    animation: shift 10s infinite ;
}
p.bad{
    animation: shifting 10s infinite ;

}
.visual-img-1{
    position: relative;
    top: -60px;
    left: 20%;
}
.visual-img-1.pro{
    position: relative;
    top: -70px;
    left: 7%;
}
.visual-img-2{
    animation: fade 1.5s;
}
@keyframes shift{
     
    15%{
      margin-left: -10px;
    }
    
      27%{
        margin-left: -20px;
      }

    39%{
     margin-left: -30px;
    }
    50%{
        margin-left:-35px;
    }
    
    62%{
        margin-left: -30px;
      }

      74%{
        margin-left: -20px;
      }
      
      86%{
        margin-left: 10px;
      }
      100%{
        margin-left: 0;
      }

}
@keyframes shifting{
     
    15%{
      margin-left: 10px;
    }
    
      27%{
        margin-left: 20px;
      }

    39%{
     margin-left: 30px;
    }
    50%{
        margin-left:35px;
    }
    
    62%{
        margin-left: 30px;
      }

      74%{
        margin-left: 20px;
      }
      
      86%{
        margin-left: 10px;
      }
      100%{
        margin-left: 0;
      }

}

/* Get start */
.bbtn-1{
    display: none;
}
.playstore{
    background: var(--color3);
    height: 50vh;
    color: var(--color4);
}
.playstore .get-1{
    padding: 80px 0 0 50px;
    position: relative;
    height: 50vh;
}
.playstore .get-1::before{
    content: '';
    background: url(imag/section--get-started__grasshopper-mama.svg) no-repeat;
    position: absolute;
    background-position: cover;
    background-size: 150px;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 35vh;
    z-index: 1;
}
.playstore .get-2{
    width: 40%;
}
.playstore p{
    font-size: 25px;
    font-weight: 600;
}
.playstore button{
    color: var(--color2);
    font-weight: 600;
    height: 40px;
    width: 120px;
    background: var(--color1);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.playstore button:hover{
    background: var(--color1);
    opacity: 0.7;
}
.playstore img{
    width: 120px;
}
.playstore .get-3{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.animat{
    position: relative;
    background: url(imag/section--get-started__cloud.svg);
    height: 50px;
    top: -5px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    animation: animate 90s linear infinite;
    z-index: 0;
}
.animat-1{
    position: relative;
    background: url(imag/section--get-started__cloud.svg);
    height: 50px;
    bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    animation: animate1 90s linear infinite;
}
@keyframes animate{
    from{
        background-position: 100% 0;
    }
    to{
        background-position: 0 100%;
    }
}
@keyframes animate1{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
/* bottom */
.pro-1{
    display: none;
}
.program{
    background: var(--color4);
    padding: 20px;
}
.program .program-1{
    padding: 30px 100px;
}
.program .program-1 .program-2 .pro{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.program ul li{
    list-style: none;
    margin: 10px 0;
}
.program ul li a{
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
}
.program p{
    color: var(--color2);
    text-align: center;
    font-weight: 600;
}
.program p span{
    font-size: 10px;
}

/* max-width = 1020px, 960px, 718px */
@media(max-width: 1020px){

    section.usual{
        display: none;
    }
    .row{
        display: block;
        text-align: center;
    }
    .adventure, .study{
        padding: 50px 30px;
    }
    .venture-2{
        padding: 10px;
    }
    .study-1 h1{
        width: 30%;
    }
    .row .col{
        padding: 40px;
        width: 96%;
        margin: auto;
    }
    .col-1 img{
        width: 40%;
    }
}

@media(max-width: 960px){
    .nav.active{
        display: none;
    }
    .brand ul, .sign{
        display: block;
        padding: 0;   
    }
    .brand .menu_toggle, .signin{
        background: var(--color5);
        position: absolute;
        width: 95%;
        padding: 50px 0 0 0;
        transition: 0.5s;
        right: 15px;
        z-index: 10;
    }
    .brand .menu_toggle{
        height: 70vh;
        top: 100px;
    }
    .signin{
        top: 450px;
        padding: 0 0 0 35px;
    }
    .brand .menu_toggle.active, .signin.active{
        right: 100%;
        transition: 0.5s;
    }
    .brand .menu_toggle ul li{
        display: block;
        margin: 30px 0;
    }
    .brand .menu-toggle ul li a{
        display: block;
        font-size: 25px;
        position: relative;
    }
    .brand ul li a{
        color:  #a0a5a7;
    }
    .brand nav ul li a, .sign a{
        color:  #a0a5a7;
        transition: 0.5s;
    }
    .brand nav ul li a:hover, .sign a:hover{
        color: var(--color6);
    }
    
    .toggle{
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        background: url(imag/close-icon.svg) no-repeat;
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
    }
    .toggle.active{
        background: url(imag/menu-icon.svg) no-repeat;
    }
    .challenge-1{
        margin-top: 50px;
    }
    /* The best way to start your coding adventure. */
    .venture-1{
        display: block;
        
    }
    .venture-1 .venture-2{
        width: 70%;
        margin: auto;
        padding: 5px;
    }
    .animat-1{
        bottom: 15px;
    }
    .program .program-1{
        padding: 30px 70px;
    }

}
@media(max-width: 720px) {
    .logo-link-1{
        display: block;
    }
    .logo-link{
        display: none;
    }
    .study .study-1{
        margin: 150px 0 0 0;
    }
    .study-1 h1{
        width: 100%;
    }
    .study-2{
        width: 100%;
        margin: 0 auto;
    }
    .study{
        padding: 100px 10px 50px;
        text-align: center;
        margin-top: 50px;
        height: 110vh;
    }
    .study::before{
        background-position: bottom;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 105vh;
        left: 0;
    }
    .study::after{
        background-size: 200px;
        background-position: top;
        top: 50px;
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .concept .too, .concept .bad{
        display: none;
    }
    .concept .concept1{
        display: block;
    }
    .visual{
        display: block;
        text-align: center;
        margin: 50px 0 0 0;
    }
    .visual .visual-2{
        width: 60%;
        margin: 10px auto;
    }
    .visual img.visual-img-2{
        width: 100%;
    }
    .visual img{
        margin: 20px 0;
    }
    .visual p{
        font-weight: 550;
    }
    .concept p{
        display: block;
        text-align:center;
        margin: 20px auto;
        width: 250px;
    }
    .col1{
        display: none;
    }
    .btn-2{
        display: block;
        margin: auto;
        width: 350px;
        height: 70px;
    }
    .advent{
        text-align: center;
    }
    .advent::before{
        position: absolute;
        background-size: 250px;
        background-position: center;
        right: 0;
        bottom: -450px;
        width: 100%;
        height: 130vh;
    }
    .advent{
        height: 130vh;
    }
    .lower{
        padding: 70px 20px;
    }
    .lower-1{
        display: block;
    }
    .lower-1 > div:nth-child(3){
        right: 0;
        top: -340px;
        position: relative;
        text-align: right;
    }
    .low {
        margin: -50px auto 0;
    }
    .low p{
        text-align: center;
    }
/* Get start */
.playstore{
    height: 80vh;
}
.animat-1{
    bottom: -150px;
}
.playstore .get-1{
    padding: 80px 0 0 50px;
    position: relative;
    height: 80vh;
}
.playstore .get-1::before{
    background-size: 180px;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 40vh;
    z-index: 1;
}
.playstore .get-2{
    text-align: center;
    width: 80%;
    margin: auto;
}
.playstore .bbtn, .playstore .get-3 a{
    display: none;
}
.playstore .bbtn-1{
    margin: auto;
    display: block;
    width: 50%;
}


    /* bottom */
    .pro-1{
        display: block;
    }
    .program{
        height: 55vh;
    }
    .program .program-1 .program-2 .pro{
        display: block;
    }
    .program-2 .pro >div:nth-child(3){
        display: none;
    }
    .program-2{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    small.toobad{
        font-size: 12px;
    }
} 
    